@import "scss/vars";
@import "scss/mixins";

.content {
  color: $color-font-main;
}

.title {
  font-size: 22px;
  text-align: center;
}

.cartItems {
  margin-top: 15px;
}

.totalPriceBlock {
  display: flex;
  align-items: center;
  column-gap: 3px;
  margin-top: 10px;
  font-size: 16px;
  padding: 0 10px;

  .text {
    flex: 1 1 auto;
  }

  p {
    font-size: 18px;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.checkout {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

.customOverlay {
  background: rgba(182, 182, 182, 0.7);
}

.phoneInput {
  margin-top: 20px;
  padding: 12px 20px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
}

.textInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
}

.textInput:focus {
  border: 2px solid #444444;
}

.textAreaInput {
  width: 100%;
  min-height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 4px;
  resize: vertical;
}

.textAreaInput:focus {
  border: 2px solid #444444;
}

@include medium-mob {
  .content {
    padding: 0 5px;
  }

  .checkout {
    font-size: 22px;
  }

  .customModal {
    background: #f2f2f2;
    width: 500px;
  }
}

@include tablet {
  .content {
    padding: 0 10px;
  }

  .title {
    font-size: 26px;
  }

  .totalPriceBlock {
    .text {
      font-size: 22px;
    }
  }
}
