@import "scss/normalize";
@import "scss/resetcss";

body {
  font-family: "Patrick Hand", cursive;
  background-color: #e1e4d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
