@import "vars";

@mixin block-wrapper() {
  background-color: #fff;
  border: 2px solid #ffe5a3;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(175, 125, 31, 0.25);
}

@mixin hover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin medium-mob() {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $md) {
    @content;
  }
}

@mixin laptop() {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $xl) {
    @content;
  }
}
