$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1400px";

$color-font-main: #8c5120;
$color-font-menu: #db6300;

$color-line-brown: #c7b076;
$color-line-beige: #fceccd;
$color-border-card: #ffe5a3;

$color-bg-beige: #fffcf6;
$color-bg-skeleton: #e2e5e7;
$color-bg-skeleton-flash: #b6b6a5;
