@import "scss/vars";
@import "scss/mixins";

.menuBar {
  display: flex;
  align-items: center;
}

.logo {
  img {
    width: 100px;
    height: 92px;
  }
}

.menuButtons {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex: 1 1 auto;
}

.icon {
  position: relative;

  svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

.productsAmount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background-color: #659a38;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
}

@include medium-mob {
  .menuBar {
    width: 174px;
    flex-direction: column;
  }

  .menuButtons {
    margin-top: 20px;
    column-gap: 20px;
  }

  .logo {
    img {
      width: 164px;
      height: 150px;
    }
  }

  .icon {
    svg {
      margin-right: 0;
    }
  }
}
